.producto__encabezado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .producto__encabezado{
        display: flex;
        width: 90%;
    }  
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    
}
