.productos__seccion{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    width: 80%;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .productos__seccion{
        width: 90%;
        display: flex;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .productos__seccion{
        width: 90%;
        display: flex;
    }
}