.boton__login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.375rem;
    height: 3.188rem;

    font-family: var(--raleway);
    font-size: 1rem;
    color: var(--azul-bg);

    border: var(--azul-bg) 1px solid;    
    border-radius: .5rem;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .boton__login{
        width: 8.313rem;
        height: 2.5rem;

        font-size: .875rem;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .boton__login{
        width: 10.375rem;
        height: 2.5rem;
    }
}