.busqueda__contenedor{
    display: flex;
    align-items: center;
    margin-left: -13rem;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .busqueda__contenedor{
        display: flex;
        flex-direction: row-reverse;
        margin-left: 0;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .busqueda__contenedor{
        margin-left: -5rem;
    }
}