.contenedor__form{
    display: flex;

    width: 62%;
    justify-content: space-between;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .contenedor__form{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: auto;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    
}