.banner__boton{
    width: 8.063rem;
    height: 3.188rem;

    font-family: var(--raleway);
    color: #FFFFFF;

    background: var(--azul-bg);
    border: none;
    border-radius: .5rem;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .banner__boton{
        width: 7.375rem;
        height: 2.5rem;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .banner__boton{
        width: 7.375rem;
        height: 2.5rem;

        font-size: .875rem;
    }
}