.form__input-boton{
    width: 26.438rem;
    height: 3.875rem;

    font-family: var(--raleway);
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background: var(--azul-bg);

    border-radius: .25rem;
    border: none;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .form__input-boton{
        width: 6.813rem;
        height: 2.5rem;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .form__input-boton{
        width: 6.813rem;
        height: 2.5rem;
    }
}