.sobre__contenedor{
    display: flex;
    align-items: flex-start;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .sobre__contenedor{
        display: flex;
        flex-direction: column;
    }
}


/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .sobre__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}