.agregar__producto{
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    width: 34.938rem;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .agregar__producto{
        width: 20.5rem;

    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .contenedor{
        width: 44rem;
    }
}